<div class="container" id="main">
    <div class="row">
        <h1 id="signup">Have issues. You can reach out to us below by providing some info</h1>
    </div>
    <!-- <div id ="content">
        <section>
            <h2>Enter you details here</h2>
            <form #simpleform="ngForm" (ngSubmit)="getValues(simpleform.value)">
            <div class="row col-xs-4">
                <label for="username">Username: </label>
                <input type="text" ngModel name="username" id="username">            
            </div>
            <br>
            <div class="row">
                <label for="email">Email:  </label>
                <input type="email" ngModel name="email" id="email">            
            </div>
            <br>
            <div>
                <label for="description"> Description:   </label>          
                <input type="text" ngModel name="description" id="desc">
            </div>
            <br>
            <div>
                <button (click)="feedBackProcess(simpleform.value)">Send Feedback</button>
            </div>
        </form>

        </section>

</div>  -->
<div class="container">
    <div class="row justify-content-center">
        <h2>Enter you details here</h2>
    </div>
    <div class="form-group">
        <label for="username">Username: </label>
        <input type="text" class="form-control" [(ngModel)]="username" placeholder="Enter your Username" ngModel name="username" id="username">
    </div>
    <br>
    <div class="form-group">
        <label for="email" id="emaillabel">Email: </label>
        <input type="email" class="form-control" [(ngModel)]="email" placeholder="Enter your Email Address" ngModel name="email" id="email">
    </div>
    <br>
    <div class="form-group">
        <label for="description">Description: </label>
        <input type="text" class="form-control" [(ngModel)]="description" placeholder="Enter your Description here" ngModel name="description" id="description">
    </div>
    <br>
    <div class="form-group">        
        <button class="btn btn-primary"(click)="sendFeedback()" [disabled]="!username || !email || !description">Send Feedback</button>
    </div>
</div>