<div class="container">
    <div class="row">
        <h1>Welcome to the site where you can track your expenses</h1>
    </div>
    <div class="row col-sm-6">
        <p>We are all very different. We were born in different cities, at different times, we love different music, food, movies. But we have something that unites us all. It is our company. We are its heart. We are not just a team, we are a family.</p>
    </div>
    <div class="row col-sm-6">
        <p>If you want a better way to manage you expenses join us. We will help you out</p>
    </div>
     <div class="row col-sm-6">
         <p>If you want to reach us, click on the contact button to reach us. We will address your concerns.</p>
     </div>
</div>